.hero-img {
  width: 100%;
  margin-bottom: 20px;
}

.mobile-card h2 {
  font-size: 20px;
  margin-bottom: 6px;
  background : #ffffff
}

.mobile-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}
