body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #cdcd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.screen-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  min-height: 70vh;
  border: 2px solid #cdcdcd;
  background : #ffffff
}

.mobile-card {
  width: 360px;
  padding: 24px;
  background: #fff;
}
